/*** Code adapted from https://www.youtube.com/watch?v=ltxxNidblts***/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background: #ffffff;
}

/*--- Link Styles ---*/
a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #6633ff;
}

.tag_name {
  color: #000000;
  text-decoration: underline;
}

/*--- Navbar Styles ---*/

.tertiary-nav {
  width: 100%;
  background: #ffffff;
  min-height: 30px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.nav-3 {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  margin-right: 60px;
  padding: 0;
}

.nav-3 .name {
    display: block;
    margin-right: auto;
    margin-left: 60px;
    color: black;
}
.nav-3 li {
  padding: 5px 10px 10px 10px;
}
.nav-3 a {
  transition: all .5s;
}
.nav-3 a:hover {
  color: #babed2;
}




/*---- Pictures and Cointainer Styles ---*/
.container {
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  background: #ffffff;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.container .box .img-sq {
  position: relative;
}

.container .box .img-sq img {
  max-width: 100%;
  transition: transform 2s;
}

.container .box:hover .img-sq img {
  transform: scale(1.2);
}

.container .box .script {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
}

/*--- Credit Styles ---*/

.credit {
  font-size: .8em;
  font-weight: bold;
  color: #000000;
}
